<h1>Mi Joyita</h1>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), ;">
  <div class="container">
    <h1>Mi joyita</h1>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>



<%= link_to "Ver todos los productos", "../products/index"%>
