<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<ul>
  <% @products.each do |product| %>
    <li>
      <strong><%= product.name %></strong><br>
      Price: $<%= product.price %><br>
      Comment: <%= product.comment %>
      <% unless product.photo.url.nil? %>
        <%= cl_image_tag(product.photo.key, height: 200, crop: :fill) %>
      <% end %>

    </li>

  <% end %>
</ul>
