<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>
    <div>
      <h2><%= @product.name %></h2>
      <p><%= @product.price%></p>
      <h3><%= @product.comment %></h3>
      <h4><%= cl_image_tag(@product.photo.key, height: 200, crop: :fill) %></h4>
      
    </div>
